<p>/* Makeshift CSS Reset */
<p>{
<p>    margin: 0;
<p>    padding: 0;
<p>}
<p>
<p>/* Tell the browser to render HTML 5 elements as block */
<p>header, footer, aside, nav, article, body {
<p>    display: block;
<p>}
<p>
<p>html, body, #container {
<p>    height: 100%;
<p>}
<p>
<p>body > #container {
<p>    height: auto; min-height: 100%;
<p>}
<p>
<p>#footer {
<p> clear: both;
<p> position: relative;
<p> z-index: 10;
<p> height: 3em;
<p> margin-top: -3em;
<p>}
<p>
<p>#content {
<p>    padding-bottom: 3em;
<p>}
<p>
<p>header {
<p>    font-family: 'Open Sans', sans-serif;
<p>    font-weight: lighter;
<p>    text-align: center;
<p>    margin-left: auto;
<p>    margin-right: auto;
<p>}
<p>
<p>body {
<p>    margin: 0 auto;
<p>    width: 940px;
<p>    font: 13px/22px Helvetica, Arial, sans-serif;
<p>    color: #c4c4c4;
<p>    background: #242424;
<p>}
<p>
<p>h1 {
<p>    font-size: 4em;
<p>}
<p>
<p>h2 {
<p>    font-size: 2em;
<p>    line-height: 44px;
<p>    padding: 22px 0;
<p>}
<p>
<p>h3 {
<p>    font-size: 1.3em;
<p>    line-height: 22px;
<p>    padding: 11px 0;
<p>}
<p>
<p>p {
<p>    padding-bottom: 22px;
<p>}
<p>
<p>nav.navBar {
<p>    position: absolute;
<p>    left: 0;
<p>    width: 100%;
<p>    background-color: #3e3e3e;
<p>    box-shadow: 0px 3px 5px #1a1a1a;
<p>
<p>}
<p>
<p>nav.footer {
<p>    position: absolute;
<p>    left: 0;
<p>    width: 100%;
<p>    background-color: #3e3e3e;
<p>    box-shadow: 0px -3px 5px #1a1a1a;
<p>}
<p>
<p>nav.navBar ul {
<p>    margin: 0 auto;
<p>    width: 940px;
<p>    list-style: none;
<p>}
<p>
<p>nav.navBar ul li {
<p>    float: left;
<p>}
<p>
<p>nav.navBar ul li a {
<p>    color: #c4c4c4;
<p>    display: block;
<p>    margin-right: 20px;
<p>    width: 140px;
<p>    font-size: 14px;
<p>    line-height: 44px;
<p>    text-align: center;
<p>    text-decoration: none;
<p>    /*color: #ccc47a;*/
<p>}
<p>
<p>nav ul li a:hover {
<p>    color: #fff;
<p>}
<p>
<p>nav ul li.selected a {
<p>    color: #fff;
<p>}
<p>
<p>section {
<p>    margin-top: 3%;
<p>    padding: 10px;
<p>}




