/* Makeshift CSS Reset */
{
    margin: 0;
    padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article, body {
    display: block;
}

header {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0 auto;
    width: 100%;
    font: 13px/22px Helvetica, Arial, sans-serif;
    color: #c4c4c4;
    background: #242424;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    line-height: 44px;
    padding: 22px 0;
}

h3 {
    font-size: 1.3em;
    line-height: 22px;
    padding: 11px 0;
}

p {
    padding-bottom: 22px;
}

nav.navBar {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #3e3e3e;
    box-shadow: 0px 3px 5px #1a1a1a;
    margin-bottom: 5em;
    text-align: center;
}

nav.navBar ul {
    margin: 0 auto;
    display: inline-block;
    list-style-type: none;
}

nav.navBar ul li {
    float: left;
}

nav.navBar ul li a {
    color: #c4c4c4;
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
}

nav ul li.selected a {
    color: #fff;
}

section {
    margin-top: 3%;
    padding: 10px;
}


html, body {
    margin:0;
    padding:0;
    height: 100%;
}

#container {
 min-height:100%;
 position:relative;
}

#header {
    padding: 10px;
}

#body {
    padding: 0;
    padding-top: 3em;
    padding-bottom: 3em;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;

    background-color: #3e3e3e;
    box-shadow: 0px -3px 5px #1a1a1a;
    text-align: center;
    vertical-align: bottom;
}

a {
    color: #c4c4c4;
}

a:hover {
    color: #fff;
}

